.navbar-custom
{
	background-color: #33831a;
}
.navbar-collapse{
	justify-content: center;
}

#useracademy,#userenrolledcourse
{
	padding: 0 100px;
}
.flex-fill
{
	padding: 50px;
}
#searchBox
{
	padding: 5px;
	width: 70%;
}
#searchButton
{
	background: #33831a;
	color: aliceblue;
	padding: 5px;
	width: 20%;
	border: 1px;
}
table {
    border-collapse: collapse;
}
td
{
    border: none;
}

.option {
	display: flex;
	justify-content: space-between;
	padding: 0.1em;
}

.container.add-academy-btn {
	display: block;
	text-align: right;
	right: 0;
	bottom: 0;
}


li {
	padding: 0 25px;
}
i
{
	color: white;
	padding: 0 20px;
}
